body{
    background-color: pink;
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 6fr 25px 25px;
}

h1{
    background-color:grey;
    font-size: 48px;
    grid-column: 2 / span 1;
    text-align: center;
}

.side-nav{
    grid-column: 1 / span 1;
    background-color: grey;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}
.side-nav div{
    margin: 2rem;
}
a{
    color: #000;
}
article{
    grid-column: 2 / span 2;
}
.chat{
    height: 75vh;
    background-color: grey;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    font-size: 20px;
    color: #000;
    border: 5px solid #000;
}
.tree{
    left: 100px;
    top: 20px;
}
/* #name{

}
#message{

} */


.others{
    color: black;
    font-size: 20px;
    background-color: grey;
    border: 5px solid black;
    
}

.contact{
    color:black;
    font-size: 20px;
    background-color:grey; 
    border: 5px solid black;
}

